html {
    font-size: 16px;
}

body {
    background-color: rgb(182, 174, 153);
    color: black;
    margin: 0 auto;
}

.main-wrapper {
    margin: 0 0 0 2rem;
    max-width: 1200px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.add-form label {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.add-form > input {
    margin-top: 1rem;
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.two-sections {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.section-right {
    padding-left: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: #6a7b8b;
    font-size: 1rem;
    color: #f5f5f5;
}

.header-logo {
    height: 1.8rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top-navigation a {
    color: #f5f5f5;
    text-decoration: none;
    padding: 0 1rem;
}

.normal-button {
    background-color: #888888;
    margin: 0.5rem;
}