<header>
  <div class="header-left">
      <img class="header-logo" src="/static/full_logo_white.png" alt="Mr. Coffee Logo">
  </div>
</header>

<div class="main-wrapper">
  <h1>Error:</h1> 
  <%= err.message %>
  <br>
  <button onclick="history.back()">Back</button>
</div>