
    
    <h1>Login Page</h1>

    <form action="/login" method="POST" class="add-form" >
        <div>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
        <p>Not registered!<a href="/signup">Register here</a></p>

    </form>

