<h1>Login page</h1>


<form class="add-form" method="POST" action="/">

    <label>
        E-mail *
        <input type="email" name="email" required>
    </label>
    
    <label>
        Password *
        <input type="password" name="password" required>
    </label>
    
    <input type="submit" value="Submit">
    
</form>