    <h1>Registration Page</h1>

    <ul>
        <% if (typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
    </ul>

    <form action="/signup" method="POST">
        <div>
            <input type="text" id="firstname" name="name" placeholder="First name" required>
        </div>
        <div>
            <input type="text" id="lastname" name="surname" placeholder="Last name" required>
        </div>
        <div>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div>
            <input type="password" id="password2" name="password2" placeholder="Confirm password" required>
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
        <p>Already registered!<a href="/login">Login here</a></p>

    </form>