<h1>Signup page</h1>


<form class="add-form" method="POST" action="/">
    <label>
        Name *
        <input type="text" name="name" required>
    </label>

    <label>
        Surname *
        <input type="text" name="surname" required>
    </label>

    <label>
        E-mail *
        <input type="email" name="email" required>
    </label>
    
    <label>
        Password *
        <input type="password" name="password" required>
    </label>
    
    <input type="submit" value="Submit">
    
</form>